@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: 100;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: "SpoqaHanSansNeo-Regular";
}

body,
h1,
h2,
p {
  margin: 0px;
}

a,
button {
  all: unset;
  cursor: pointer;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.wrap {
  width: 520px;
  margin: 100px auto;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

/* header */
header {
  position: relative;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0px 18px 0px;
}

header img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 22px 24px 20px 0px;
}

/* main */
.main {
  padding: 0 24px;
}

.main p {
  font-weight: 500;
  font-size: 20px;
  margin: 26px 0px 24px 0px;
}

/* 로그인 */
.main-login {
  display: flex;
  flex-direction: column;
}

.input-style {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input-style::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #767676;
  margin: 16px 15px;
}

.input-style:focus {
  outline-color: rgba(244, 73, 46, 1);
}

/* .main [class$="warning"] {
  font-weight: 400;
  font-size: 14px;
  color: #f4492e;
  margin: 10px 0px;
} */

.main-login a {
  font-weight: 400;
  font-size: 14px;
  color: #767676;
  text-align: center;
}

.main-login input {
  padding: 15px 16px;
}

.login-button {
  width: 472px;
  height: 50px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background: #2f80ed;
  border-radius: 5px;
  text-align: center;
}

.login-util {
  font-weight: 400;
  font-size: 14px;
  color: #767676;
  margin: 20px 0px 30px 0px;
  text-align: center;
}

.join::after {
  content: "|";
  margin: 0px 12px;
}

/* 체크박스 */
.check-box {
  float: left;
  font-weight: 500;
  font-size: 16px;
  color: #767676;
  margin: 16px 0px 20px 0px;
}

.labl-hold {
  font-weight: 500;
  font-size: 16px;
  color: #767676;
}

.main span {
  font-weight: 400;
  font-size: 14px;
  color: #767676;
}

.or-line {
  font-weight: 400;
  font-size: 14px;
  color: #767676;
  margin-bottom: 20px;
}

.or-line:before {
  content: " ";
  display: inline-block;
  width: 210px;
  height: 1px;
  margin: 0px 13px 0px 0px;
  vertical-align: middle;
  background: #c4c4c4;
}

.or-line:after {
  content: " ";
  display: inline-block;
  width: 210px;
  height: 1px;
  margin: 0px 0px 0px 13px;
  vertical-align: middle;
  background: #c4c4c4;
}

/* 소셜 로그인 */
.social-login {
  text-align: center;
  padding: 0px 24px;
}

.social-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 472px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;

  margin-bottom: 10px;

  border: 1px solid;
  border-radius: 5px;
  background: #ffffff;
}

.social-button:nth-child(n + 3) {
  margin-bottom: 25px;
}

.social-login img {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  margin: 11px 12px;
}

#google {
  border-color: #767676;
}

#facebook {
  border-color: rgba(45, 156, 219, 1);
}

#naver {
  border-color: rgba(0, 191, 24, 1);
}

#kakao {
  border-color: rgba(242, 201, 76, 1);
}
