@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: 100;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: "SpoqaHanSansNeo-Regular";
}

body,
h1,
h2,
p {
  margin: 0px;
}

a,
button {
  all: unset;
  cursor: pointer;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.wrap {
  width: 520px;
  height: 736px;
  margin: 100px auto;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

/* header */
header {
  position: relative;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0px 18px 0px;
}

header img {
}

/* main */
.main {
  padding: 0 24px;
}

.main p {
  font-weight: 500;
  font-size: 20px;
  margin: 26px 0px 24px 0px;
}

/* 로그인 */
.main-login {
  display: flex;
  flex-direction: column;
}

.input-style {
  width: 472px;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input-style::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #767676;
  margin: 16px 15px;
}

.main-login a {
  font-weight: 400;
  font-size: 14px;
  color: #767676;
  text-align: center;
}

.login-button {
  width: 472px;
  height: 50px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background: #2f80ed;
  border-radius: 5px;
  text-align: center;
}

/* 체크박스 */
.check-box {
  float: left;
  font-weight: 500;
  font-size: 16px;
  color: #767676;
  margin: 16px 0px 20px 0px;
}

.labl-hold {
  font-weight: 500;
  font-size: 16px;
  color: #767676;
}

.main span {
  font-weight: 400;
  font-size: 14px;
  color: #767676;
}

/* 소셜 로그인 */
.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-button {
  width: 472px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #767676;
  border-radius: 5px;
  background: #ffffff;
}
